@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --dark-bg: rgb(18, 18, 18);
  --spacing: 200px;

  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  border-radius: 10px;
}

main {
  width: 100vw;
  color: #cac4c4;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3 {
  color: #d388e2;
  font-weight: 700;
  font-style: normal;
}

a {
  color: #d388e2;
  padding: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.left {
  grid-column: 6 / 12;
}

.card {
  text-align: center;
  background-color: #242424;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card h1 {
  color: #000;
  text-decoration: underline;
}

.card a {
  color: #000;
  text-decoration: underline;
}

.card a:hover {
  color: #000;
}

.card-white h1 {
  color: #fff;
  text-decoration: underline;
}

.card-white a {
  color: #fff;
  text-decoration: underline;
}

.card-white a:hover {
  color: #fff;
}

.card-small {
  display: inline;
  text-align: center;
  background-color: #242424;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.card-small img {
  margin: 10px;
  width: 200px;
  height: 100px;
}

.card-small a {
  top: 5px;
  text-align: center;
}

#kurz {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('resources/header2.webp');
}

#qw {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('resources/qw.png');
}

#jsl {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('resources/jslabs.png');
}

#pa {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('resources/0w3fxkcmiut71.png');
}
.me{
  grid-column: 2 / 8;
  padding: 1rem;
}

@media screen and (max-width: 1200px)  {
  header {
    grid-column: 2 / span 10;
  }

  section {
    grid-column: 2 / span 10;
  }

  .me {
    grid-column: 4 / span 10;
  }
}
